/*                KEY POSITIONS

   LT4 LT3 LT2 LT1 LT0 | RT0 RT1 RT2 RT3 RT4
   LM4 LM3 LM2 LM1 LM0 | RM0 RM1 RM2 RM3 RM4
   LB4 LB3 LB2 LB1 LB0 | RB0 RB1 RB2 RB3 RB4
   LH2 LH1 LH0          |          RH0 RH1 RH2 */

#define COMBO_TERM 30
#define COMBO_IDLE 50

/* Thumb key positions */
#define THL LH0
#define TH1 LH1
#define TH2 RH1
#define THR RH0

/* Basic combos - left hand */
ZMK_COMBO(esc,   &kp ESC,      LT3 LT2,     DEF NAV NUM)
ZMK_COMBO(cut,   &kp LC(X),    LB3 LB1,     DEF NAV NUM)
ZMK_COMBO(copy,  &kp LC(INS),  LB3 LB2,     DEF NAV NUM)
ZMK_COMBO(paste, &kp LS(INS),  LB2 LB1,     DEF NAV NUM)

/* Basic combos - right hand */
ZMK_COMBO(esc_r,   &kp ESC,      RT1 RT2,     DEF NAV NUM)
ZMK_COMBO(copy_r,  &kp LC(INS),  RB2 RB3,     DEF NAV NUM)
ZMK_COMBO(paste_r, &kp LS(INS),  RB1 RB2,     DEF NAV NUM)

/* Vertical combos */
ZMK_COMBO(tilde, &kp TILDE, LT4 LM4, DEF NAV NUM)
ZMK_COMBO(grave, &kp GRAVE, LM0 LB0, DEF NAV NUM)

ZMK_COMBO(quot,  &kp SQT,   RT0 RM0, DEF NAV NUM)
ZMK_COMBO(shift, &kp LSHFT, RM4 RB4, DEF NAV NUM)

/* Thumb combos */
ZMK_COMBO(ctrll, &kp LCTRL, THL TH1, DEF NAV NUM)
ZMK_COMBO(ctrlr, &kp RCTRL, TH2 THR, DEF NAV NUM)
