// corne.keymap - Personal layout using urob's infrastructure
// HYPER(keycode): Sends Ctrl+Shift+Alt+GUI + keycode ("Hyper" modifier combo, system-wide unique hotkey)
#define HYPER(keycode) &kp LC(LS(LA(LG(keycode))))

// Key position macros for combos (42-key layout)
#include "zmk-helpers/key-labels/42.h"

// NOTE: ZMK Studio requires a physical layout with `keys` property for visualization.
// The Corne's physical layout is defined in zmk/app/boards/shields/corne/corne.dtsi
// as `foostan_corne_6col_layout` with full `keys` property (key positions, sizes, etc.)
// The chosen node in that file sets: zmk,physical-layout = &foostan_corne_6col_layout;

// Intercept urob's ZMK_BASE_LAYER - define as no-op BEFORE including base.keymap
#define ZMK_BASE_LAYER(name, ...)

// Include urob's base.keymap (HRMs, combos, shortcuts, etc.)
#define CONFIG_WIRELESS
#include "hrm.dtsi"
#include "base.keymap"

// Personal layer macro - same signature as urob's ZMK_BASE_LAYER
#define PERSONAL_LAYER(name, LT, RT, LM, RM, LB, RB, LH, RH) \
    ZMK_LAYER(name, LT RT LM RM LB RB LH RH)

// ------ Personal Layers ------
#define BASE 0
#define NAV 1
#define NUM 2
#define SYM 3
#define MACRO 4
#define BLUE 5

PERSONAL_LAYER(base, 
// ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮ ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
       &gresc         &kp Q         &kp W         &kp E         &kp R         &kp T     ,    &kp Y         &kp U         &kp I         &kp O         &kp P      &kp BACKSLASH    ,
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
       &kp TAB     &hml LCTRL A   &hml LALT S   &hml LSHFT D  &hml LGUI F     &kp G     ,   &kp H       &hmr LGUI J   &hmr RSHFT K  &hmr LALT L   &hmr LCTRL SEMI    &kp SQT     ,
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
       &kp DEL     &lt MACRO Z      &kp X         &kp C         &kp V         &kp B     ,   &kp N        &kp M      &kp COMMA   &kp DOT    &kp SLASH    &kp DEL        ,
// ╰─────────────┼─────────────┴─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┴─────────────┴─────────────╯
                                              &kp RET  &lt NAV SPACE  &lt NUM BSPC , &kp K_APP  &lt BLUE RET &kp SPACE
//                                           ╰─────────────┴─────────────┴─────────────╯ ╰─────────────┴─────────────┴─────────────╯
)

//NAV
PERSONAL_LAYER(nav,
    
// ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮ ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
         XXX          XXX           XXX           &kp UP         XXX           XXX      ,      XXX        &mkp MB4      &kp PG_UP     &mkp MB5      &kp C_VOL_UP  &kp C_VOL_DN    ,
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
         XXX          XXX      &kp LEFT       &kp DOWN     &kp RIGHT       XXX      ,      XXX         &kp HOME     &kp PG_DN      &kp END         XXX          &kp C_PP     ,
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
        &kp LCTRL          &kp LSHFT        XXX           XXX           XXX          XXX      ,      XXX           XXX           XXX           XXX           XXX           XXX         ,
// ╰─────────────┼─────────────┴─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┴─────────────┴─────────────╯
                                                XXX             XXX         &mo SYM      ,      XXX           XXX           XXX
//                                           ╰─────────────┴─────────────┴─────────────╯ ╰─────────────┴─────────────┴─────────────╯
)

//NUMBERS
PERSONAL_LAYER(Num,
// ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮ ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
         XXX          XXX          &kp N7         &kp N8         &kp N9      &kp MINUS  ,     XXX           XXX           XXX           XXX           XXX           XXX             ,
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
         XXX         &kp N0        &kp N4         &kp N5         &kp N6      &kp EQUAL   ,     XXX           XXX           XXX           XXX           XXX           XXX             ,
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
     &kp LCTRL   &kp LSHFT          &kp N1        &kp N2         &kp N3     XXX         ,     XXX           XXX           XXX           XXX           XXX           XXX             ,
// ╰─────────────┼─────────────┴─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┴─────────────┴─────────────╯
                                                  XXX          &mo SYM    XXX                  ,    XXX           XXX           XXX
//                                           ╰─────────────┴─────────────┴─────────────╯ ╰─────────────┴─────────────┴─────────────╯
)   

PERSONAL_LAYER(Sym,
// ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮ ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
         &kp S        XXX           XXX           XXX           XXX            XXX      ,     XXX           XXX           XXX           XXX           XXX           XXX             ,
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
         XXX          XXX           XXX           XXX           XXX            XXX      ,     XXX           XXX           XXX           XXX           XXX           XXX             ,
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
         XXX          XXX           XXX           XXX           XXX            XXX      ,     XXX           XXX           XXX           XXX           XXX           XXX             ,
// ╰─────────────┼─────────────┴─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┴─────────────┴─────────────╯
                                                  XXX           XXX            XXX      ,     XXX       XXX           XXX
//                                           ╰─────────────┴─────────────┴─────────────╯ ╰─────────────┴─────────────┴─────────────╯
)

PERSONAL_LAYER(Macro,
// ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮ ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
          &kp M       XXX           &kp F19       &kp F20       HYPER(A)        XXX      ,     XXX           XXX           XXX           XXX           XXX           XXX             ,
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
         XXX          XXX           &kp F16       &kp F17       &kp F18        XXX      ,     HYPER(2)           XXX           XXX           XXX           XXX           XXX             ,
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
         XXX           XXX          &kp F13       &kp F14       &kp F15        XXX      ,     HYPER(Q)           XXX           XXX           XXX           XXX           XXX             ,
// ╰─────────────┼─────────────┴─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┴─────────────┴─────────────╯
                                                  XXX           XXX            XXX      ,     XXX           XXX           XXX
//                                           ╰─────────────┴─────────────┴─────────────╯ ╰─────────────┴─────────────┴─────────────╯
)

//BLUE
PERSONAL_LAYER(Blue,
// ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮ ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
        &kp B     &bt BT_CLR          XXX         XXX         XXX           XXX         ,     XXX           XXX          XXX              XXX         XXX       &studio_unlock             ,
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
         XXX           XXX       &bt BT_SEL 3     XXX           XXX       &bootloader  ,  &bootloader       XXX           XXX           XXX            XXX           XXX             ,
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
        XXX          XXX        &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2     &sys_reset  ,   &sys_reset      XXX           XXX           XXX           XXX           XXX             ,
// ╰─────────────┼─────────────┴─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┴─────────────┴─────────────╯
                                                  XXX           XXX            XXX      ,     XXX           XXX           XXX
//                                           ╰─────────────┴─────────────┴─────────────╯ ╰─────────────┴─────────────┴─────────────╯
)

















// Example Hyper mapping usage:
//  HYPER(1): Ctrl+Shift+Alt+GUI+1
//  HYPER(2): Ctrl+Shift+Alt+GUI+2
//  HYPER(Q): Ctrl+Shift+Alt+GUI+Q
// For other keys, use as HYPER(<KEYCODE>)

// PERSONAL_LAYER(blue,
    
// // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮ ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
//          XXX          XXX           XXX           XXX           XXX            XXX      ,     XXX           XXX           XXX           XXX           XXX           XXX             ,
// // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
//          XXX          XXX           XXX           XXX           XXX            XXX      ,     XXX           XXX           XXX           XXX           XXX           XXX             ,
// // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
//          XXX          XXX           XXX           XXX           XXX            XXX      ,     XXX           XXX           XXX           XXX           XXX           XXX             ,
// // ╰─────────────┼─────────────┴─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┴─────────────┴─────────────╯
//                                                   XXX           ___            XXX      ,     XXX           XXX           XXX
// //                                           ╰─────────────┴─────────────┴─────────────╯ ╰─────────────┴─────────────┴─────────────╯

// )
 