// corne.keymap - Personal layout using urob's infrastructure
// Key position macros for combos (42-key layout)
#include "zmk-helpers/key-labels/42.h"

// NOTE: ZMK Studio requires a physical layout with `keys` property for visualization.
// The Corne's physical layout is defined in zmk/app/boards/shields/corne/corne.dtsi
// as `foostan_corne_6col_layout` with full `keys` property (key positions, sizes, etc.)
// The chosen node in that file sets: zmk,physical-layout = &foostan_corne_6col_layout;

// Intercept urob's ZMK_BASE_LAYER - define as no-op BEFORE including base.keymap
#define ZMK_BASE_LAYER(name, ...)

// Include urob's base.keymap (HRMs, combos, shortcuts, etc.)
#define CONFIG_WIRELESS
#include "hrm.dtsi"
#include "base.keymap"

// Personal layer macro - same signature as urob's ZMK_BASE_LAYER
#define PERSONAL_LAYER(name, LT, RT, LM, RM, LB, RB, LH, RH) \
    ZMK_LAYER(name, LT RT LM RM LB RB LH RH)

// ------ Personal Layers ------
#define BASE 0
#define MAC_BASE 1
#define NAVI 2
#define BLUE 3
#define NUMBERS 4

PERSONAL_LAYER(base,
// ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮ ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
       &gresc        &kp Q         &kp W         &kp E         &kp R         &kp T     ,    &kp Y         &kp U         &kp I         &kp O         &kp P      &kp BACKSLASH    ,
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
       &kp TAB     &hml LGUI A   &hml LALT S   &hml LSHFT D  &hml LCTRL F     &kp G     ,   &kp H       &hmr LCTRL J   &hmr RSHFT K  &hmr LALT L   &hmr LGUI SEMI    &kp SQT     ,
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
       &kp DEL            &kp Z         &kp X         &kp C         &kp V     &kp B     ,   &kp N        &kp M        &comma_morph   &dot_morph     &qexcl        &kp SLASH    ,
// ╰─────────────┼─────────────┴─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┴─────────────┴─────────────╯
                                            &lt BLUE RET  &lt NAVI SPACE  &lt NUMBERS BSPC , &kp K_APP     &kp SPACE     &kp RET
//                                           ╰─────────────┴─────────────┴─────────────╯ ╰─────────────┴─────────────┴─────────────╯
)

PERSONAL_LAYER(Mac,
    
// ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮ ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
         ___          ___           ___           ___           ___            ___      ,     ___           ___           ___           ___           ___           ___             ,
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
         ___          ___           ___           ___           ___            ___      ,     ___           ___           ___           ___           ___           ___             ,
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
         ___          ___           ___           ___           ___            ___      ,     ___           ___           ___           ___           ___           ___             ,
// ╰─────────────┼─────────────┴─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┴─────────────┴─────────────╯
                                                  ___           ___            ___      ,     &kp F24       ___           ___
//                                           ╰─────────────┴─────────────┴─────────────╯ ╰─────────────┴─────────────┴─────────────╯

)


//NAV
PERSONAL_LAYER(nav,
    
// ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮ ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
         XXX          XXX           XXX           &kp UP         XXX           XXX      ,      XXX           XXX        &kp PG_UP     &kp C_MUTE  &kp C_VOL_UP  &kp C_VOL_DN    ,
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
         XXX          XXX          &kp LEFT       &kp DOWN     &kp RIGHT       XXX      ,      XXX         &kp HOME     &kp PG_DN      &kp END         XXX          &kp C_PP         ,
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
         XXX          XXX           XXX           XXX           XXX            XXX      ,      XXX           XXX           XXX           XXX           XXX           XXX             ,
// ╰─────────────┼─────────────┴─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┴─────────────┴─────────────╯
                                                XXX             ___            XXX      ,      XXX           XXX           XXX
//                                           ╰─────────────┴─────────────┴─────────────╯ ╰─────────────┴─────────────┴─────────────╯
)


//BLUE
PERSONAL_LAYER(Bl,
// ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮ ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
         XXX       &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3  &bt BT_CLR      ,     XXX           XXX           XXX           XXX           XXX       &studio_unlock             ,
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
         XXX       &to BASE      XXX          &to MAC_BASE           XXX        &bootloader  ,  &bootloader      XXX           XXX           XXX           XXX           XXX             ,
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
         XXX          XXX           XXX           XXX           XXX         &sys_reset  ,   &sys_reset      XXX           XXX           XXX           XXX           XXX             ,
// ╰─────────────┼─────────────┴─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┴─────────────┴─────────────╯
                                                  ___           ___            XXX      ,     XXX           XXX           XXX
//                                           ╰─────────────┴─────────────┴─────────────╯ ╰─────────────┴─────────────┴─────────────╯

)

//NUMBERS
PERSONAL_LAYER(Num,
// ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮ ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
         XXX          XXX          &kp N6         &kp N7         &kp N9      &kp MINUS  ,     XXX           XXX           XXX           XXX           XXX           XXX             ,
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
         XXX         &kp N0        &kp N4         &kp N5         &kp N6      &kp PLUS   ,     XXX           XXX           XXX           XXX           XXX           XXX             ,
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
         &kp LBKT    &kp RBKT      &kp N1         &kp N2         &kp N3      &kp EQUAL      ,     XXX           XXX           XXX           XXX           XXX           XXX             ,
// ╰─────────────┼─────────────┴─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┴─────────────┴─────────────╯
                                                  XXX           &kp LSHFT       ___      ,     XXX           XXX           XXX
//                                           ╰─────────────┴─────────────┴─────────────╯ ╰─────────────┴─────────────┴─────────────╯
)   



// PERSONAL_LAYER(blue,
    
// // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮ ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
//          XXX          XXX           XXX           XXX           XXX            XXX      ,     XXX           XXX           XXX           XXX           XXX           XXX             ,
// // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
//          XXX          XXX           XXX           XXX           XXX            XXX      ,     XXX           XXX           XXX           XXX           XXX           XXX             ,
// // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
//          XXX          XXX           XXX           XXX           XXX            XXX      ,     XXX           XXX           XXX           XXX           XXX           XXX             ,
// // ╰─────────────┼─────────────┴─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┴─────────────┴─────────────╯
//                                                   XXX           ___            XXX      ,     XXX           XXX           XXX
// //                                           ╰─────────────┴─────────────┴─────────────╯ ╰─────────────┴─────────────┴─────────────╯

// )
      